#projects_page img {
	height:100%;
  width:100%;
}

.nav a {
  color: black;
}

hr {
	border: 1.2px solid green;
}

h3 {
	color: green;
}

.container {
	max-width: 950px;
}

.active {
  background: green;
}
#about_page {
  text-align: justify;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: green;
    color: #fff;
}

#notes_page a {
  color: blue;
}